{{extend 'layout.html'}}
<h3> What you should know! </h3>
<ul>
<li>
Gordian knot is a flagship IIIT Hyderabad, Felicity presentation. 
</li>
<li>
The problems are all computable by writing small scripts/programs that run under 1 minute.
</li>
<li>
All answers are a positive integer less than 10^18
</li>
<li>
Any help used from any inanimate object is allowed.
</li>
<li><b>
Surprize bumper prize for the fastest person to solve all 19 Questions.
</b>
</li>
<li><b>
Special prize for the UG1 topper at Gordian Knot
</b>
</li>

<h3> Rules! </h3>
<ol>
<li>
There are 18 questions in all. Solve as many as possible
</li>
<li>
The contest ends at 2nd Oct, 23:59:59
</li>
<li>
Unlock higher levels by more solving questions.
</li>
<li>
Each question is worth 100 points. So solve all of them
</li>
<li>
Most importantly, Have fun!
</li>
