{{left_sidebar_enabled,right_sidebar_enabled=False,True}}
{{extend 'layout.html'}}
<div id="welcome">
<h3>"We don't love OJ either." </h3>
<br/>
<p> Frustrated of trying to get your code accepted by just another piece of code?
Genius lies in elegance, and not corner cases. <br/> We present problems that'll challenge you to think and all it'll take is a brainwave!
Come dare, cut the Gordian knot. </p>
<br/>
<br/>
<br/>

<a href="{{=URL('landing')}}" class="button"> Start Here </a>
<br/>
<hr/>
</div>

